DOCKER_SECRET=44313
#Qwen
QWEN_API_KEY="sk-..."
# AI
MODEL_AI="qwen3.7-plus"
ANALYTICS_MODEL_AI="qwen3.5-flash"
EMBEDDING_MODEL_ID="text-embedding-v4"

# Redis
REDIS_IP="redis"
REDIS_PASS="MyStrongPassword123"
REDIS_PORT=6379

# Qdrant
QDRANT_HOST="qdrant"
QDRANT_PORT=6333

COLLECTION_NAME_AI="sleep_ai_knowledge_base"

VECTOR_DIMENSION=1024
BATCH_SIZE=150