.venv/
.venv
.env
*.log
.codex
.zip
.log.zip
*.log.zip
/appqdrant_storage/*
/app/support_ai/resources/RAG/knowledge_base/shema.json
/app/support_ai/resources/RAG/knowledge_base/structured_docs.json
/app/support_ai/resources/RAG/knowledge_base/upload/
yoyo.ini